// %overlay {
//     content: '';
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background-color: rgba(0, 0, 0, .35);
// }

%contacts-hover {
    color: #1A71D2;

    &:hover {
        color: #66aaf8;
        text-decoration: underline;
    }
}